html{
	font-family: sans-serif;
	font-size: 24px;
	padding: 0;
	margin: 0;
}

body{
	padding: 0;
	margin: 0;
}

header {
	background: pink;
	grid-column: span 3;
	padding: 16px;
}

nav {
	background: lightblue;
	padding: 16px;
}

main {
	background: silver;
	padding: 16px;
}

aside {
	background: grey;
	padding: 16px;
}

footer {
	background: purple;
	grid-column: span 3;
	padding: 16px;
}

.container {
	border: 1px solid rgba(0, 0, 0, 0.4);
	display: grid;
	min-height: 100vh;
	grid-template-columns: 20% auto 20%;
	grid-template-rows: auto 1fr auto;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
}

